<template>
  <div class="bg-slate-400">
    <div class="py-5">
      <p class="text-xl text-black">Rick and Morty finder</p>
    </div>
    <div class="p-5 grid grid-cols-3 gap-4">
      <div>
        <div class="relative mt-1 rounded-md shadow-sm">
          <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
            <span class="text-gray-500 sm:text-sm"> 🧍 </span>
          </div>
          <input type="text" name="character " id="character "
            class="block w-full rounded-md border-gray-300 pl-7 pr-12 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
            placeholder="Ingrese nombre de personaje" v-model="character" @keyup="findCharacter(character, status)"
            maxlength="20" />
          <div class="absolute inset-y-0 right-0 flex items-center">
            <select id="status" name="status" v-model="status" @change="findCharacter(character, status)"
              class="h-full rounded-md border-transparent bg-transparent py-0 pl-2 pr-7 text-gray-500 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
              <option>alive</option>
              <option>dead</option>
              <option>unknown</option>
            </select>
          </div>
        </div>
      </div>

      <p class="text-sm text-red-700 text-left items-center flex" v-if="valid">Ingrese un nombre válido</p>
      <div class="bg-white col-span-3">
        <div class="mx-auto max-w-2xl py-8 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
          <p class="text-sm text-black text-left items-center flex" v-if="!empty">Se encontraron {{characters.length}} resultados. </p>
          <p class="text-sm text-black text-left items-center flex" v-if="!empty">Haga clic en una imagen para ver mas información </p>
          <br />
          <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8 hover:cursor-pointer"
            v-if="!empty">
            
            <a v-for="character in characters" :key="character.id" @click="showInfo(character)"
              class="group">
              <div
                class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
                <img :src="character.image" :alt="character.name"
                  class="h-full w-full object-cover object-center group-hover:opacity-75" />
              </div>
              <h3 class="mt-4 text-sm text-gray-700">{{ character.name }}</h3>
              <p class="mt-1 text-lg font-medium text-gray-900">{{ character.status }}</p>
            </a>
          </div>
          <div class="gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8 justify-center flex"
            v-if="empty">
            <p class="text-sm text-black-700 text-center">No se encontraron resultados</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: black;">
    <Modal v-if="show" @close="show = false" v-bind:character="characterSelected">
    </Modal>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import Modal from './Modal.vue'
@Options({
  props: {
    msg: String
  },
  components: {
    Modal
  },
  data() {
    return {
      valid: false,
      empty: true,
      characters: null,
      status: 'alive',
      closeModal: false,
      show: false,
      characterSelected: null,
      info: null
    }
  },
  methods: {
    showInfo(info: any) {
      this.characterSelected = info
      this.show = true;
    },
    findCharacter(character: any, status: any) {
      let val = character;
      if (val != "" && val.length >= 4 && val.length <= 20) {
        this.getData(character, status)
        this.valid = false;
      } else {
        this.valid = true;
      }

    },
    async getData(character: any, status: string) {
      try {
        return await fetch("https://rickandmortyapi.com/api/character/?name=" + character + "&status=" + status)
          .then(res => res.json())
          .then(res => {
            if (res['error']) {
              this.empty = true;
            } else {
              this.empty = false;
              this.characters = res['results']
              this.info = res['info']
            }
            console.log(res['error'] ? 'no se encontraron resultados' : res['results']);
          });
      } catch (error) {
        console.log(error);
      }
    },
  }
})

export default class FindCharacter extends Vue {
  msg!: string
  characters!: Array<any>
  findCharacter: any
  prueba!: any
  character!: any
  status!: string
  valid!: boolean
  empty!: boolean
  closeModal !: boolean
  show!: boolean
  characterSelected !: Array<any>
  showInfo!: any
  info !: any
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

body {
  background-color: rgb(114, 123, 123) !important;
}
</style>
