<template>
    <div class="greyModal modalToggle">
        <div class="overflow-hidden rounded-lg flex justify-center">
            <img :src="character.image" :alt="character.name" class="h-80 w-80 group-hover:opacity-75" />
        </div>
        <h3 class="mt-4 text-sm text-white">Nombres: {{ character.name }}</h3>
        <h3 class="mt-4 text-sm text-white">Género: {{ character.gender }}</h3>
        <h3 class="mt-4 text-sm text-white">Estado: {{ character.status }}</h3>
        <h3 class="mt-4 text-sm text-white">Origen: {{ character.origin.name }}</h3>
        <h3 class="mt-4 text-sm text-white">Especie : {{ character.species }}</h3>
        <br />
        <a class="mt-4 text-sm text-white hover:text-blue-700" :href="character.url" target="_blank">Api: {{ character.url }}</a>
        <br />
        <br />
        <a href="#" @click.prevent="closeModal"
            class="flex bg-blue-900 w-full items-center justify-center rounded-md border border-transparent px-8 py-3 text-white hover:bg-blue-600 md:py-4 md:px-10 md:text-lg">
            Cerrar
        </a>
    </div>

</template>
  
<script lang="ts">

import { Options, Vue } from 'vue-class-component';
@Options({
    props: {
        character: Array
    },
    components: {
        Modal
    },
    methods: {
        closeModal() {
            this.$emit('close', false);
        },
    }
})
export default class Modal extends Vue {
    character: any
    closeModal: any
}
</script>
<style scoped>
.greyModal {
    opacity: 1;
    background-color: rgb(30, 25, 25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}
</style>